/* Optimized for a minimum screen width of 320 pixels, per industry standards */
/* Root styles (variables) */
:root {
  --header-font-family: 'Oldenburg', serif;
  --body-font-family: 'Kite One', sans-serif;
  --primary-color: #004225;
  --secondary-color: #6a0136;
  --light-gray: rgb(230, 230, 230);
  --dark-gray: #1c1d21;
  --outline: 2px solid var(--secondary-color);
  --button-shadow: 3px 3px 5px var(--primary-color);
  --pressed-button-shadow: 1px 1px 2px var(--primary-color);
}

/* Resetters */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Site-wide styles */

body {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  font-size: 18px;
  color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  text-align: center;
  padding: 5px;
}

h2,
h3,
h4,
h5,
h6 {
  border: var(--outline);
  border-radius: 15px;
  margin: 20px 0px;
}

section {
  max-width: 1000px;
  margin: 0px auto;
}

p {
  margin-bottom: 15px;
}

figure.photo-with-caption {
  margin-bottom: 15px;

  figcaption {
    font-size: 0.9em;
    text-align: center;
    background: var(--light-gray);
    border-radius: 15px;
    padding: 10px;
  }

  img {
    max-width: 100%;
    border-radius: 15px;
    border: 3px solid var(--primary-color);
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;

    &:nth-of-type(2) {
      direction: rtl;
      /* Reverse the order to alternate images */
    }
  }
}

/* Banner styles */
header {
  #banner {
    display: grid;
    grid-template-columns: 115px 1fr;
    padding-right: 50px;

    a:hover {
      outline: var(--outline);
    }

    h1 {
      font-size: 1.4em;
      align-content: center;
    }
  }

  #hamburger-icons a img {
    &:hover {
      outline: var(--outline);
    }
  }
}

#icon {
  max-height: 90px;
  width: auto;
}

/* Hamburger styles */
#hamburger,
#circle-x {
  position: absolute;
  width: 44px;
  height: 44px;
  font-size: 44px;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.toggle {
  display: none;

  &.show {
    display: block;
  }
}

nav {
  display: grid;
  grid-template-rows: repeat(5, 0fr);
  transition: grid-template-rows 0.5s ease-out;
  margin-top: 10px;

  /* Menu visible on small screens */
  &.show {
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    margin-bottom: 10px;

    a {
      padding: 5px;
      border: 1px solid var(--secondary-color);
    }
  }

  /* Menu in all contexts */
  a {
    transition: padding 0.5s ease-out;
    overflow: hidden;
    border-radius: 15px;
  }
}

/* Common styles for interactive buttons and images */
.nav-button {
  box-shadow: var(--button-shadow);
  text-decoration: none;
  background-color: var(--light-gray);
  text-align: center;
  align-content: center;
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: bold;

  &:active {
    box-shadow: var(--pressed-button-shadow);
  }

  &:hover {
    outline: var(--outline);
  }
}

/* Styles for shared footers */
footer {
  font-size: 0.8em;
  position: sticky;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: 1px solid var(--primary-color);
  margin-top: 10px;

  #jokeBox {
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  a {
    padding: 5px 20px;
    margin-top: 5px;
    min-height: 44px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
  }
}

#hero {
  width: 100%;
  margin-bottom: 50px;

  #hero-image-container {
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 1000px;
  }

  #hero-text {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.2em;
    background-color: var(--dark-gray);
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 15px;
  }

  img.hero {
    display: block;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    max-height: 40%;
    border-radius: 15px;
    box-shadow: var(--button-shadow);
  }

  .logo-holder {
    position: absolute;
    left: calc(50% - 37px);
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid var(--primary-color);
    width: 115px;
    margin-top: -65px;
    box-shadow: var(--button-shadow);

    img {
      width: 100px;
      display: block;
      margin: 10px auto;
    }
  }
}

/* Transition layout to full-sized screens */
@media screen and (min-width: 600px) {
  header {
    #banner {
      h1 {
        font-size: 2.4em;
        transition: font-size 0.5s ease;
      }
    }

    #hamburger-icons {
      display: none;
    }

    nav,
    #navbar.show {
      display: grid;
      grid-template-rows: unset;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      margin-bottom: 10px;

      .nav-button {
        font-size: 1.1em;
        transition: font-size 0.5s ease;
        border: 1px solid var(--secondary-color);
      }
    }
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Form styles */
form {
  font-size: 0.8em;
  max-width: 360px;
  margin: 10px auto;
  padding: 20px;
  border: var(--outline);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;


  label {
    font-weight: bold;
    align-self: center;
    justify-self: end;
  }

  input {
    padding: 5px;

    &:focus,
    &:hover {
      outline: var(--outline);
    }
  }

  button,
  .button {
    margin: 10px 0 0 0;
    padding: 5px;
    grid-column: span 2;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    text-align: center;
    background-color: var(--light-gray);
    text-decoration: none;
    color: var(--primary-color);

    &:active {
      box-shadow: var(--pressed-button-shadow);
    }

    &:focus,
    &:hover {
      outline: var(--outline);
    }
  }

}

.hide {
  display: none;
}

#success {
  max-width: 360px;
  margin: 10px auto;
  padding: 20px;
  border: var(--outline);
  border-radius: 15px;
  text-align: center;
}

/* Styles for Browse page */
#games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  div.panel {
    display: grid;
    border: var(--outline);
    border-radius: 15px;
    max-width: 400px;
    padding: 0px 10px 10px 10px;

    h3 {
      border-top: none;
      border-right: none;
      border-left: none;
      margin-top: 1px;
      margin-left: -10px;
      margin-right: -10px;
      box-shadow: var(--button-shadow);

      &:active {
        box-shadow: var(--pressed-button-shadow);
      }

      &:hover,
      &:focus {
        margin-left: -9px;
        margin-right: -9px;
        outline: var(--outline);
      }
    }

    a {
      text-decoration: none;
      color: var(--primary-color);
    }

    img.gamePic {
      border: 1px solid var(--primary-color);
      box-shadow: var(--button-shadow);
      max-width: 400px;
      max-width: 100%;

      &:active {
        box-shadow: var(--pressed-button-shadow);
      }

      &:hover,
      &:focus {
        outline: var(--outline);
      }
    }

    ul {
      margin: 10px 20px;

      li {
        font-weight: bold;
        font-size: 0.8em;

        span {
          font-weight: normal;
          font-size: 1em;
        }
      }
    }

    /* Styles for the Powered by BGG icons */

    div.bgg-link {
      align-self: end;
    }

    figure {
      margin-top: auto;
      font-size: 0.8em;
      align-self: center;

      border: 1px solid black;
      border-radius: 10px;
      box-shadow: var(--button-shadow);
      background-color: var(--light-gray);

      &:active {
        box-shadow: var(--pressed-button-shadow);
      }

      &:hover,
      &:focus {
        outline: var(--outline);
      }

      figcaption {
        text-align: center;
      }

      img {
        display: block;
        margin: -10px auto;
      }
    }
  }
}