/* Root styles (variables) */
:root {
    --header-font-family: 'Oldenburg', serif;
    --body-font-family: 'Kite One', sans-serif;
    --primary-color: #004225;
    --secondary-color: #6a0136;
    --light-gray: rgb(230, 230, 230);
    --dark-gray: #1c1d21;
}

/* Resetters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* Site-wide styles */

body {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    font-size: 18px;
    color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font-family);
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

/* Hamburger styles */
#hamburger,
#circle-x {
    position: absolute;
    width: 44px;
    height: 44px;
    font-size: 44px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.toggle {
    display: none;

    &.show {
        display: block;
    }
}

nav {
    display: grid;
    grid-template-rows: repeat(5, 0fr);
    transition: grid-template-rows 0.5s ease-out;

    &.show {
        grid-template-rows: repeat(5, 1fr);

        a {
            border: 1px solid red;
            padding: 10px;
        }
    }

    a {
        overflow: hidden;
        color: var(--primary-color);
        text-decoration: none;
        background-color: var(--light-gray);
        font-size: 1.2em;
        transition: padding 0.5s ease-out;
    }
}

footer {
    font-size: .8em;
    position: sticky;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid var(--primary-color);

    a {
        min-height: 44px;
        align-content: center;
        text-align: center;
    }
}

/* a.button {
    color: var(--dark-gray);
    padding: 5px;
    box-shadow: 3px 3px 5px var(--primary-color);
    border: 1px solid var(--secondary-color);
    font-weight: bold;
    font-family: var(--header-font-family);
    border-radius: 10px;
    font-size: 1.2em;
    background-color: var(--light-gray);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        box-shadow: 3px 3px 5px var(--secondary-color);
    }
} */

/* Form styles */