<div id="banner">
  <a href="/index.html"
    ><img src="/images/logo-150.webp" id="icon" height="116" width="150"
  /></a>
  <h1>Board Games</h1>
</div>
<div id="hamburger-icons">
  <a
    ><img
      src="/images/hamburger.webp"
      class="toggle show"
      id="hamburger"
      height="44"
      width="44"
  /></a>
  <a
    ><img
      src="/images/circle-x.webp"
      class="toggle"
      id="circle-x"
      height="44"
      width="44"
  /></a>
</div>
<nav id="navbar">
  <a href="/browse/index.html" target="_self" class="nav-button">Browse</a>
  <a href="/search/index.html" target="_self" class="nav-button">Search</a>
  <a href="/favorites/index.html" target="_self" class="nav-button">Favorites</a>
  <a href="/schedule/index.html" target="_self" class="nav-button">Schedule</a>
  <a href="/account/index.html" target="_self" class="nav-button">Account</a>
</nav>
